<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="WindowsV1.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <userSettings>
       
    </userSettings>
  <appSettings>
    <add key="PlugInDir" value=""/>
    <!--为了保持登录状态，将自动向以下名称的讨论组发送消息。请保证用作机器人的账户加入一个讨论组并将讨论组名称代替测试1，或将讨论组名称改为测试1 如果将这个值改为空值，将自动往名为消息接收的讨论组发送-->
    <add key="DisName" value="测试1"/>
  </appSettings>
</configuration>
